# 忽略 Python 编译的缓存文件
__pycache__/

# 忽略 node.js 的依赖文件夹
node_modules/

# 忽略日志文件
*.log

# 忽略 Flask 的 session 文件
.flask_session/

# 忽略 alembic 的迁移脚本
migrations/

# 忽略 webassets 缓存文件
.webassets-cache/

# 忽略生成的静态文件
static/gen/

# 虚拟环境
.venv/

# 忽略所有 .txt 文件（例如 r.txt）
*.txt

# config
config.py

# 笔记
*.md
!readme.md