<!DOCTYPE html>
<head>
  <title>Route Demo</title>
  {% assets 'css_main' %}
  <link href="{{ ASSET_URL }}" rel="stylesheet" /> 
  {% endassets %} 
</head>
<body>
  <div class="flex flex-row items-center p-3">
    <div class="h-9 w-3 bg-blue-800" id="start-end-0"></div>
  
    <div class="h-3 w-full bg-blue-800 flex flex-row justify-center">
       <div class="flex flex-col self-center">
         <div class=" h-auto"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25" height="10" viewBox="0 0 250 100" fill="none"><path d="M200 0L0 0L0 100L200 100L250 50L200 0Z" fill-rule="evenodd"  fill="#1C4094" ></path></svg></div>
      <div class="flex justify-center items-center h-8 w-8 bg-gray-700 rounded-full"><div class="h-5 w-5 bg-white rounded-full flex justify-center items-center"></div></div>
      <div class="-mx-2 font-thin">火车站</div>
    </div>
  
    
    </div>  
  </div>
</body>

